<form [formGroup]="audioForm">
  <div class="section">
    <div class="row">
      <!-- spacer -->
      <div class="col-md-4"></div>

      <div class="col-md-4 text-center">
        <h2>Audio Editing</h2>
        <p>Nebula features an easy to use audio editing feature that allows artists
          to get the best sound out of their music. The audio effects are structured
          in a way that allows any level musician to take their music to the next level.
        </p>
      </div>

      <!-- spacer -->
      <div class="col-md-4"></div>
    </div>

    <div class="row">

      <!-- Play Button -->
      <div class="col-md-12 text-center">
        <button class="btn btn-secondary" (click)="toggleAudio()">
          <span *ngIf="!playing">Play Demo</span>
          <span *ngIf="playing">Stop Demo</span>
        </button>
      </div>
      
      <!-- Controls -->
      <div class="col-md-12 text-center">      
        <div class="row">
          <div class="col-md-12">
            <h5>Compressor</h5>
            <input type="range" class="horizontal" formControlName="compressor" (input)="updateCompressor()"> 
          </div>

          <div class="col-md-12">
            <h5>Reverb</h5>
            <input type="range" class="horizontal" min="0" max="1" step=".01" formControlName="reverb" (input)="updateReverb()">
          </div>

          <div class="col-md-12">
            <h5>Gain</h5>
            <input type="range" class="horizontal" min="1" max="10" step=".1" formControlName="gain" (input)="updateGain()">
          </div>
        </div>
        <div class="row eq">

          <!-- Equalizer -->
          <div class="col-md-12 text-center">
            <h5 class="pb-5">EQ</h5>
            <div class="range-field">
              <input type="range" class="vertical" max="100" min="-100" formControlName="eq32" (input)="updateEq('eq32')">  
              <input type="range" class="vertical" max="100" min="-100" formControlName="eq125" (input)="updateEq('eq125')">
              <input type="range" class="vertical" max="100" min="-100" formControlName="eq500" (input)="updateEq('eq500')">
              <input type="range" class="vertical" max="100" min="-100" formControlName="eq1000" (input)="updateEq('eq1000')">
              <input type="range" class="vertical" max="100" min="-100" formControlName="eq4000" (input)="updateEq('eq4000')">
              <input type="range" class="vertical" max="100" min="-100" formControlName="eq16000" (input)="updateEq('eq16000')">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="row faded-nebula section">
  
    <!-- Spacer -->
    <div class="col-md-4"></div>

    <div class="col-md-4 text-center">
      <h5>Pre-Sets</h5>
      <p class="text-center">For those not trying to reinvent the wheel there is also an option to 
        select from a series of pre-selected effects based on specific genres
      </p>
      <div class="input-field pt-5">
        <select formControlName="preset" materialize="material_select" (change)="setPreset($event)">
          <option class="pre-set-options" value="custom">Custom</option>
          <option class="pre-set-options" value="jazz">Jazz</option>
          <option class="pre-set-options" value="acoustic">Acoustic</option>
          <option class="pre-set-options" value="hiphop">Hip Hop</option>
          <option class="pre-set-options" value="electronic">Electronic</option>
        </select>
      </div>
    </div>

    <!-- Spacer -->
    <div class="col-md-4"></div>
  </div>
</form>