<div class="row header">
  <div class="col-md-12 text-center">
    <h1 class="title" id="title">Nebula</h1>
    <h5 class="subtitle">The Artists' Content Editor</h5>
  </div>
</div>
<div class="row sub-header p-5">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h4>Sub Header</h4>
    <p>Nebula is the artists' audio editor. This perfect audio editing tool
      let's the artist focus on creativity with no doubt that the ideal audio quality
      is easily achievable.
    </p>
  </div>
  <div class="col-md-3"></div>
</div>
