@import '../../assets/_variables.scss';

.vertical.long {
  width: 200px;
  margin: 100px -75px;
}

.btn {
  width: 120px;
  .genre {
    background-color: white;
    color: $red;
    font-size: 12px;
  }
  
  .genre:hover {
    background-color: white;
    color: white;
  }
}

