<div class="row">
  <div class="col-md-12 text-center">
      <h2>Recording Studio</h2>
  </div>
</div>
<div class="row">

  <!-- Spacer -->
  <div class="col-md-4"></div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>Microphones</h5>
        <p>The recording studio provides four different microphones for any artist to use.
          Each microphone offers a specific performance edge perfect for any genre
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <img class="microphone" src="../../assets/microphones/svg/radio-microphone-2.svg">
        <p>Condensor</p>
      </div>
      <div class="col-md-3">
        <img class="microphone" src="../../assets/microphones/svg/retro-microphone.svg">
        <p>Ribbon</p>
      </div>
      <div class="col-md-3">
        <img class="microphone" src="../../assets/microphones/svg/radio-microphone-3.svg">
        <p>Vintage</p>    
      </div>
      <div class="col-md-3">
        <img class="microphone" src="../../assets/microphones/svg/handheld-microphone.svg">
        <p>Dynamic</p>
      </div>
    </div>
  </div>

  <!-- Spacer -->
  <div class="col-md-4"></div>
  
</div>

<div class="row">

  <!-- Spacer -->
  <div class="col-md-4"></div>

  <div class="col-md-4 text-center">
    <h5>Recording</h5>
    <p>Artists can step into the booth and record right on the spot or upload a previosly recorded track
      and apply microphone and audio editor pre-sets
    </p>
  </div>

  <!-- Spacer -->
  <div class="col-md-4"></div>
</div>
<div class="row">
  <div class="col-md-12 text-center sound-waves">
    <div class="bars text-center">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center p-5">
    <button class="record">
      <div class="center"></div>
    </button>
  </div>
</div>