<div class="row">
  <div class="col-md-12 text-center">
      <h2>Recording Studio</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center sound-waves">
    <div class="bars text-center">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center p-5">
    <button class="record">
      <div class="center"></div>
    </button>
  </div>
</div>