<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form [formGroup]="eqForm">
      <!-- Equalizer -->
      <div class="col-md-12 text-center">
        <h5 class="pb-5">Genric Specific Eq</h5>
        <p class="pb-5">
          Not sure where to start? Select an EQ setting specific to your genre.
          EQ can be manually adjusted from the default settings at any point
          but the genre specific defaults can set any artist off in the right direction
        </p>
        <div class="range-field pt-3 pb-5">
          <input type="range" class="vertical" max="100" min="-100" formControlName="eq32">  
          <input type="range" class="vertical" max="100" min="-100" formControlName="eq125">
          <input type="range" class="vertical" max="100" min="-100" formControlName="eq500">
          <input type="range" class="vertical" max="100" min="-100" formControlName="eq1000">
          <input type="range" class="vertical" max="100" min="-100" formControlName="eq4000">
          <input type="range" class="vertical" max="100" min="-100" formControlName="eq16000">
        </div>
      </div>


      <div class="row pt-5">
        <div class="col-xl-3">
          <button class="btn btn-secondary genre waves-effect waves-light" (click)="setGenreEqDefaults('hiphop')">Hip Hop</button>
        </div>
        <div class="col-xl-3">
          <button class="btn btn-secondary genre waves-effect waves-light" (click)="setGenreEqDefaults('indy')">Indy</button>
        </div>
        <div class="col-xl-3">
          <button class="btn btn-secondary genre waves-effect waves-light" (click)="setGenreEqDefaults('country')">Country</button>
        </div>
        <div class="col-xl-3">
          <button class="btn btn-secondary genre waves-effect waves-light" (click)="setGenreEqDefaults('rock')">Rock</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
